
body{
     font-family: Arial, Helvetica, sans-serif;
     background-color:  #aad4cf;
}
/* for holding image and text */
.fish{
    position:relative;
    text-align: center;
}
/* Centres text */
.Lonefish{  
color: white;
text-align: center;
position: absolute;
top: 70%;
left: 40%;
margin: 0 auto 0 auto;
}
/*adds navigation position and spacing */
.post{
margin: 0;
padding: 0;
overflow: hidden;
}
.list{
    float: left ;
    display: inline-block;
    padding: 20px 120px;
}
/*adds image size and text wrap */
.starfish{
    float: left;
    width: 15%;
    padding: 0.5% 0.5%
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.box{
    width: 750px;
    height: 300px;
    border: solid 1px black;
    padding: 20px; 
}

button{
    shape-margin: 4px;
}
footer{
    float: right;
}