*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #c78c06;
}

nav{
    color: #ffe6ac;
    text-align: center;
    background-color: #222;
    margin: 0;
    padding: 10px;
}

ul li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 8px 16px;
    justify-content: space-evenly;
    padding: 5px;
}


a:link{
    text-decoration: none;
    color: #c78c06;
    padding: 8px 16px;
    margin: 0;

}

.fa-magnifying-glass{
    background-color: #222;
    color: #c78c06;
   
}
.search{
    width: 90%;
}

.welcome{
    background-image: url('/images/main-banner.jpg');
    background: linear-gradient(rgb(33, 33, 33, .5));
    padding: 5rem 0;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .welcome{
    background: url("/images/main-banner.jpg");
    background-size: cover;
    height: 500px;
    position: relative;
    bac
} */

.welcome h1{
    color: white;
    font-size: 3rem;
    background-color: rgb(33, 33, 33, .5); 
    padding: 10px;
}

.welcome p{
    color: white;
    font-size: small;
    background-color: rgb(33, 33, 33, .5); 
    
}

.welcome button{
    background-color:#c78c06;
    padding: 10px;
}

